<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Habit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles1.css') }}">
</head>
<body>
    <form method="POST" action="{{ url_for('add_habit_form') }}">
        <label for="habit_name">Habit Name:</label>
        <input type="text" id="habit_name" name="habit_name">
        <button type="submit">Add Habit</button>
    </form>
    {% if name %}
    <div>
        <p>{{ name }} has been added</p>
    </div>
    {% endif %}
</body>
</html>
